.form {
  width: 355px; /* Ширина формы */
  margin-top: 20px;
}

.inputWrapper {
  margin-bottom: 10px; /* Отступ между инпутами */
}

.input {
  width: 100%;
  padding: 16px 32px;
  margin-top: 16px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 2px solid rgba(104, 142, 202, 0.5);
  border-radius: 5px;
  background: rgba(104, 142, 202, 0.05);
  transition: border-color 0.3s, box-shadow 0.3s;
  font-weight: bold; /* Жирный текст */
  font-size: 18px; /* Размер текста */
}

.input:focus {
  border-color: #688eca;
  box-shadow: 0px 4px 10px rgba(104, 142, 202, 0.25);
  border: 2px solid rgba(104, 142, 202, 1);
}

label {
  color: #688eca; /* Цвет текста */
  font-size: 18px; /* Размер текста */
  margin-bottom: 10px; /* Отступ снизу */
}
