.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: #f7f7f7;
  width: 100%;
  font-size: 18px;
  padding: 30px;
}

.content {
  max-width: 1440px;
  margin: 0 auto;
}

span {
  padding-right: 30px;
}

.content a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
  padding-right: 30px;
}

.content a:hover {
  color: #605f5a;
}

/* АДАПТИВКА */

@media only screen and (max-width: 600px) {
  .footer {
    padding: 15px; 
    font-size: 14px;
  }

  span, .content a {
    padding-right: 0; 
    display: block; 
    margin-bottom: 10px; 
  }

  .content a:last-child {
    margin-bottom: 0; 
  }
}
