.orderInfo {
  font-size: 28px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.orderNumber,
.accountNumber {
  font-weight: bold;
  white-space: nowrap;
}

.orderNumber {
  margin-right: 20px;
}

@media (max-width: 425px) {
  .account {
    margin-top: 16px;
  }
}
